#navBar {
   display: flex;

}

.main {
   margin: 30px 30px;
   display: flex;
   border: 1px solid brown;
   width: 70%;
   flex-direction: column;
   justify-items: center;
   align-self: center;

}

#weather {
   display: flex;
   flex-wrap: wrap;
   background-color: sandybrown;
   width: 100%;
   justify-content: center;
}

#message {
   display: none;
   width: 100%;
   background-color: sandybrown;
   font-size: 25px;
}

input {
   height: 20px;
   flex-basis: 10%;
   text-align: center;
   font-size: 20px;
}

button {
   height: 25px;
   margin-left: 10px;
}

#header {
   display: flex;
   align-items: center;
   height: 50px;

}

#navbarMain {
   display: none;
   flex-direction: row;
}

#navbar {
   display: flex;
   width: 100%;
   height: 70%;
   flex-direction: column;

}

#navbarRight {
   display: flex;
   flex-direction: column;
   width: 100%;

}

#temperature {

   background-color: #FFC000;
   width: 100%;
   height: 400px;
   text-align: center;
   align-content: center;
   font-size: 30px;

}

#humility {
   width: 100%;
   height: 200px;
   background-color: rgb(80, 4, 151);
   text-align: center;
   align-content: center;
   font-size: 30px;
}

#wind {
   width: 100%;
   height: 200px;
   background-color: rgb(187, 11, 105);
   text-align: center;
   align-content: center;
   font-size: 30px;
}

.loader {
   display: none;
   justify-self: center;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   width: 12px;
   height: 12px;
   -webkit-animation: spin 2s linear infinite;
   /* Safari */
   animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}